- content_for :page_classes do
  | home

.row.hero.hero-medium.bg-01.bg-center.light-text
  .overlay-black
    .section.center.narrow
      h1 Body Taing
      hr.small.opacity-half
      h3
        ' Hello. I am a UI/UX Designer. I spend my days coding at
        => link_to 'Doximity', 'https://engineering.doximity.com'
        | and my nights throwing knives.

.page

  .row
    .section.narrow

      h1.center Summary
      hr.small
      ul.list
        li Work with other ninjas to solve ninja problems while doing backflips.
        li Decipher ninja scrolls and unlock hidden ninja powers.
        li Find ninja blacksmiths and bribe them with rice in exchange for additional ninja training.
        li Find and defeat samurai warriors.
        li Master of the Ninjutsu arts.

      br
      h1.center Experience
      hr.small

      h3
        | Doximity
        br
        small.gray March 2012 - Present
      ul.list
        li Deploy large scale ninja attacks.
        li Laugh in the face of danger.
        li Keep my village safe from those who seek to destroy us.
        li Employ "Kenjutsu" tactics (sword fighting) and Taijutsu (unarmed combat) strategies.

      h3
        | Memeo
        br
        small.gray August 2011 - March 2012
      ul.list
        li Take down enemy ninja training villages and deploy Jutsu Summonings.
        li Shinobi-iri (stealth methodologies).
        li Effective use of Kayakujutsu (ninja pyrotechnics).

      h3
        | Futuredial
        br
        small.gray May 2008 - August 2011
      ul.list
        li Slay enemy ninjas and monsters while eating a rice ball.
        li Intonjutsu (escape, concealment and impersonation methodologies).

      h3
        | Freelance
        br
        small.gray November 2003 - February 2008
      ul.list
        li Leap off tall buildings while throwing shurikens.


  .row.bg
    .section
      h1.center Skills
      hr.small
      .autogrid.center
        .col
          p.gray-light Strong
          ul
            li Breaking stuff
            li Sass
            li Slim
            li CSS
            li SCSS
        .col
          p.gray-light Moderate
          ul
            li JavaScript
            li RoR
            li jQuery
            li MySQL
            li JSON
        .col
          p.gray-light I'm bad at
          ul
            li Java
            li Perl
            li Eclipse
            li Apache
            li Scrabble
        .col
          p.gray-light Don't ask me about
          ul
            li Go
            li C
            li Swift
            li Fortran
            li Making pancakes

  .row
    .section.narrow
      h1.center Hobbies
      hr.small
      ul.list
        li Building awesome airsoft guns and shooting kids with them at tournaments
        li Paintball
        li Surfing & Bodyboarding
        li
          ' Reading
          = link_to 'I Fucking Love Science', 'http://www.iflscience.com/'
        li Tormenting human civilization
        li Drinking an Old Fashioned and smoking a cigarette

  .row.bg-red.light-text
    .section.narrow.center
      h1 Not for hire
      hr.small.opacity-4
      h3 This page is just to show you how awesome I am.
